.hero-section__batton {
  display: block;
  margin: 0 auto;
  font-family: "roboto";
  border-radius: 4px;
  padding: 15px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  margin-top: 30px;
  border: none;
  background-color: var(--best-color1);
  border-color: var(--brand-color1);
  color: var(--best-color2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-radius: 4px;
    background-color: #188ce8;
  }

  &:hover {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &:active {
    background-color: #188ce8;
  }
}
