.hero-section {
  background-repeat: no-repeat;
  width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/team.jpg);
  border-top-width: 3px;
  padding-top: 200px;
  padding-bottom: 200px;

  &__header {
    text-transform: uppercase;
    color: white;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    max-width: 696px;
    margin: auto;
  }
}
