.navigation-menu {
  display: flex;
  align-items: center;
  margin: auto;
}

.top-nav {
  margin-left: 94px;
  font-weight: 500;
  align-items: center;
  display: flex;
  list-style-type: none;

  &__text {
    padding: 32px 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: var(--best-color3);
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__text.current {
    color: #188ce8;
    position: relative;
  }

  &__text:focus {
    color: var(--best-color1);
  }

  &__text:hover {
    color: var(--best-color1);
  }
  & &__item + &__item {
    margin-left: 50px;
  }
}
.current:after {
  content: "";
  position: absolute;
  background: #188ce8;
  border-radius: 2px;
  height: 4px;
  width: 100%;
  left: 0%;
  bottom: 0%;
}
