.clients__header {
  margin-bottom: 50px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.clients__item {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__link {
  cursor: pointer;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  width: 170px;
  height: 92px;

  & {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus {
    border: 1px solid #2196f3;
    fill: #2196f3;
  }

  &:hover {
    border: 1px solid #2196f3;
    fill: #2196f3;
  }
}
