:root {
    --best-color1: #2196f3;
    --best-color2: #f5f5f5;
    --best-color3: #212121;
    --best-color4: #757575;
    --best-color5: #f5f4fa;
    --best-color6: #2f303a;
    --best-color7: #000000;
    --best-color8: #ffffff;
    --best-color9: #ffffff99;
    --best-color10: #e60909;
}